{{ define "main" }}

<article class="main-container">
    <header>
        {{ if ne .Type "page" }}
        <div>
            {{ if .Date }}
            <time>{{ .Date | time.Format ":date_medium" }}</time>
            {{ end }}<!---->
            {{ $single_author := or .Params.Author site.Author.name }}
            <!---->
            {{ if $single_author }}
            <span>&middot;</span>
            <span>{{ $single_author }}</span>
            {{ end }}
        </div>
        {{ end }}
    </header>

    <section>{{ .Content }}</section>

    <!-- Post Tags -->
    {{ if .Params.tags }}
    <footer>
        {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}">{{ . }}</a>
        {{ end }}
    </footer>
    {{ end }}
</article>

{{ end }}
