{{ define "main" }}

<article class="content-container">
    <header>
        {{ if ne .Type "page" }}
        <div>
            {{ if .Date }}
            <time>{{ .Date | time.Format ":date_medium" }}</time>
            {{ end }}<!---->
            <a href="/notes">{{ "<back>" }}</a>
        </div>
        {{ end }}
    </header>

    <section>{{ .Content }}</section>

    <!-- Post Tags -->
    {{ if .Params.tags }}
    <footer>
        {{ range .Params.tags }} {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}">{{ . }}</a>
        {{ end }}
    </footer>
    {{ end }}
</article>

{{ end }}
