:root {
    /* colors */
    --forest-red: 7, 32%, 49%;
    --black: 0, 0%, 0%;
    --subtle: 330, 3%, 28%;
    --mute: 0, 0%, 80%;

    /* font related */
    --root-font: "Geist Mono", monospace;

    /* spacing */
    --root-padding: 1rem;

    /* links */ 
    --link-underline-offset: 4px;

    /* sizing */
    --root-max-width: 600px;

    /* lists */ 
    --list-link-leading: 150%;

    /* article/single */
    --article-top-padding: 1rem;
}

/* resets */
* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-size: 1em;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

/* custom styles */
::selection {
    background-color: hsla(var(--subtle), 20%);
}

body {
    font-family: var(--root-font);
    max-width: var(--root-max-width);
    padding: var(--root-padding);
    color: var(--black);
    font-variant-ligatures: none;
}

ul {
    padding-inline: 1rem;
}

ul li::before {
    content: "* ";
}

ul li a {
    line-height: var(--list-link-leading);
}

a {
    color: hsl(var(--subtle));
    text-decoration: underline;
    text-underline-offset: var(--link-underline-offset);
}

a:hover * {
    color: hsl(var(--forest-red));
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(var(--mute));
}

article {
    padding-top: var(--article-top-padding);
}

article header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* raw markdown like headings */
h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

/* code block */
.highlight {
    border: 1px solid hsl(var(--mute));
    padding-inline: calc(var(--root-padding) - .2rem);
}

/* section / list page */
.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date {
    text-transform: lowercase;
}

/* date */
.date .year {
    color: hsla(var(--subtle), .5);
}


