{{ define "main" }}
<main class="main-container">
    <p>
        hey! i’m a high schooler who enjoys building things, while i'm still 
        figuring things out, learning about deep technical stuff is what interests 
        me the most.
    </p>
    <p>
        i'm currently building a non-nonsense and simple <a href="https://github.com/nvedant/genie">email client</a>
        to help myself manage my inbox, apart from that i'm working on <a href="https://quadruple.ai">quadruple</a>
        on the side.
    </p>
    <p>
        You can reach out to me on <a href="https://twitter.com/_uvedant">twitter</a>
        or email me at <a href="mailto:nvedant@proton.me">nvedant at proton.me</a>.
    </p>
</main>
{{ end }}
