{{ define "main" }}
<main class="main-container">
    <p>
        hey! i’m a high schooler who enjoys building things, although i'm still figuring things out, learning about deep
        technical stuff is what interests me the most.
    </p>
    <p>
        i'm currently building a non-nonsense and simple <a href="https://github.com/nvedant/genie">email client</a> to
        help myself manage my inbox, apart from that i'm working on <a href="https://quadruple.ai">quadruple</a>
        on the side and also have
        started a new habit of writing notes to myself on this site, you can check them out <a href="/notes">here</a>.
    </p>
    <p>
        if you want to talk to me, then you can hit me up on <a href="x.com/_uvedant">twitter</a>
        or drop an <a href="mailto:vnandwana@protonmail.com">mail</a>.
    </p>
</main>
{{ end }}
